@import models.products.Category
@import models.products.Product
@import models.users.User
@(products: List[Product], categories: List[Category], catId: Long, filter: String,user: User,env: play.api.Environment)


@main("Products",user) {

<p class="lead">Product Catalogue</p>
<br>
<div class="row">
  <div class="col-sm-2">
    <h4>Categories</h4>
    <div class="list-group">
      <a href="@routes.ProductCtrl.listProducts(0, filter)" class="list-group-item">All Categories</a>
      @for(c <- categories) {
        <a href="@routes.ProductCtrl.listProducts(c.getId, filter)" class="list-group-item">@c.getName
          <span class="badge">@c.getProducts.size()</span>
        </a>
      }
    </div>
  </div>
  <div class="col-sm-10">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }

      			<!-- Search Form -->
			<div id="actions">
        <form action="@routes.ProductCtrl.listProducts(catId)" method="GET">
         <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by product name...">
         <input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
        </form>
       </div>
    <table class="table table-bordered table-hover table-condensed">   
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>         
          <th>Description</th>
          <th>Stock</th>
          <th>Price</th>   
        </tr>
      </thead>

      <tbody>
        @for(p<-products) {
          <tr>
              @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".jpg")"/></td>
            } else {
                <td><img src="/assets/images/productImages/thumbnails/noImage.jpg"/></td>
            }
            <td class="numeric">@p.getId</td>
            <td><a href="@routes.ProductCtrl.productDetails(p.getId)">
                @p.getName</td>
               </a>     
            <td>@p.getDescription</td>
            <td  class="numeric">@p.getStock</td>
            <td  class="numeric">€ @("%.2f".format(p.getPrice))</td>
            <td><a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>

          </tr>
        }
      </tbody>

    </table>
  </div>
</div>
}