@import models.users.User
@import models.users.Login
@(loginForm: Form[Login], user: User)
@import helper._

@main("Login", user) {
    <p class="lead">Product Catalogue</p>
    <div class="col-xs-5">
        <h3>Sign in</h3>
        @if(loginForm.hasGlobalErrors) {
            <p class="alert alert-warning">
                @loginForm.globalError.message;
            </p>
        }
        @if(flash.containsKey("error")) {
            <p class="alert alert-warning">
                @flash.get("loginRequired")
            </p>
        }


        @helper.form(controllers.security.routes.LoginCtrl.loginSubmit()) {
            @CSRF.formField

            <div class="form-group">
                @inputText(loginForm("email"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "Email")
            </div>
            <div class="form-group">
                @inputPassword(loginForm("password"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "Password")
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary">
            </div>
        }
    </div>
}