@(loginForm: Form[models.users.Login],user: models.users.User)
@import helper._

@main("Login",user) {
    <h3>Sign in</h3>
    <!-- Display login errors if there are any-->
    @if(loginForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @for(e <- loginForm.globalErrors) {
                @e.message<br/>
            }
        </p>
    }
	@* Display error message from flash, if it is set *@
	@if(flash.containsKey("error")) {
		<div class="alert alert-success">
			@flash.get("error")
		</div>
	}
    <!-- The login form-->
    @helper.form(action = controllers.routes.LoginController.loginSubmit()) {
        @* CSRF attack prevention *@
        @* This token, sent by the controller, will be used to authenticate 
           the form submission as a means of avoiding cross-site request forgery *@
        @CSRF.formField
        
        <div class="form-group">
            @inputText(loginForm("email"), '_label -> "", 
            'class -> "form-control input-xs", 'placeholder -> "Email")
        </div>
        <div class="form-group">
            @inputPassword(loginForm("password"), '_label -> "", 
            'class -> "form-control input-xs", 'placeholder -> "Password")
        
        </div>
        <div class="form-group">
            <input type="submit" value="Sign In" class="btn btn-primary">
        </div>
    } @* End of form *@
}